<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GradeMan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>user</display-name>
    <servlet-name>user</servlet-name>
    <servlet-class>stu.gx.bao.user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>stu.gx.bao.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminDao</display-name>
    <servlet-name>adminDao</servlet-name>
    <servlet-class>stu.gx.bao.adminDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminDao</servlet-name>
    <url-pattern>/adminDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userDao</display-name>
    <servlet-name>userDao</servlet-name>
    <servlet-class>stu.gx.bao.userDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDao</servlet-name>
    <url-pattern>/userDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminCheckLogin</display-name>
    <servlet-name>adminCheckLogin</servlet-name>
    <servlet-class>stu.gx.AdminServlet.adminCheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminCheckLogin</servlet-name>
    <url-pattern>/adminCheckLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userCheckLogin</display-name>
    <servlet-name>userCheckLogin</servlet-name>
    <servlet-class>stu.gx.UserServlet.userCheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCheckLogin</servlet-name>
    <url-pattern>/userCheckLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userCheckRes</display-name>
    <servlet-name>userCheckRes</servlet-name>
    <servlet-class>stu.gx.UserServlet.userCheckRes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCheckRes</servlet-name>
    <url-pattern>/userCheckRes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userCheckResPass</display-name>
    <servlet-name>userCheckResPass</servlet-name>
    <servlet-class>stu.gx.UserServlet.userCheckResPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCheckResPass</servlet-name>
    <url-pattern>/userCheckResPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userCheckResFirst</display-name>
    <servlet-name>userCheckResFirst</servlet-name>
    <servlet-class>stu.gx.UserServlet.userCheckResFirst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCheckResFirst</servlet-name>
    <url-pattern>/userCheckResFirst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userAdd</display-name>
    <servlet-name>userAdd</servlet-name>
    <servlet-class>stu.gx.UserServlet.userAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userAdd</servlet-name>
    <url-pattern>/userAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exam</display-name>
    <servlet-name>exam</servlet-name>
    <servlet-class>stu.gx.bean.exam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exam</servlet-name>
    <url-pattern>/exam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>examDao</display-name>
    <servlet-name>examDao</servlet-name>
    <servlet-class>stu.gx.bao.examDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>examDao</servlet-name>
    <url-pattern>/examDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>launchExam</display-name>
    <servlet-name>launchExam</servlet-name>
    <servlet-class>stu.gx.AdminServlet.launchExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>launchExam</servlet-name>
    <url-pattern>/launchExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delExam</display-name>
    <servlet-name>delExam</servlet-name>
    <servlet-class>stu.gx.AdminServlet.delExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delExam</servlet-name>
    <url-pattern>/delExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allExam</display-name>
    <servlet-name>allExam</servlet-name>
    <servlet-class>stu.gx.AdminServlet.allExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allExam</servlet-name>
    <url-pattern>/allExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateExam</display-name>
    <servlet-name>updateExam</servlet-name>
    <servlet-class>stu.gx.AdminServlet.updateExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateExam</servlet-name>
    <url-pattern>/updateExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userSignExam</display-name>
    <servlet-name>userSignExam</servlet-name>
    <servlet-class>stu.gx.UserServlet.userSignExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userSignExam</servlet-name>
    <url-pattern>/userSignExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchExam</display-name>
    <servlet-name>SearchExam</servlet-name>
    <servlet-class>stu.gx.AdminServlet.SearchExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchExam</servlet-name>
    <url-pattern>/SearchExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchExamUser</display-name>
    <servlet-name>SearchExamUser</servlet-name>
    <servlet-class>stu.gx.UserServlet.SearchExamUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchExamUser</servlet-name>
    <url-pattern>/SearchExamUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminCheckLogout</display-name>
    <servlet-name>adminCheckLogout</servlet-name>
    <servlet-class>stu.gx.AdminServlet.adminCheckLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminCheckLogout</servlet-name>
    <url-pattern>/adminCheckLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userCheckLogout</display-name>
    <servlet-name>userCheckLogout</servlet-name>
    <servlet-class>stu.gx.UserServlet.userCheckLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCheckLogout</servlet-name>
    <url-pattern>/userCheckLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>stu.gx.UserServlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageDao</display-name>
    <servlet-name>PageDao</servlet-name>
    <servlet-class>stu.gx.bao.PageDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageDao</servlet-name>
    <url-pattern>/PageDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDaoImpl</display-name>
    <servlet-name>AdminDaoImpl</servlet-name>
    <servlet-class>stu.gx.dao.impl.AdminDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDaoImpl</servlet-name>
    <url-pattern>/AdminDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamDaoImpl</display-name>
    <servlet-name>ExamDaoImpl</servlet-name>
    <servlet-class>stu.gx.dao.impl.ExamDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamDaoImpl</servlet-name>
    <url-pattern>/ExamDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpDao</display-name>
    <servlet-name>SignUpDao</servlet-name>
    <servlet-class>stu.gx.dao.impl.SignUpDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpDao</servlet-name>
    <url-pattern>/SignUpDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpDaoImpl</display-name>
    <servlet-name>SignUpDaoImpl</servlet-name>
    <servlet-class>stu.gx.dao.impl.SignUpDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpDaoImpl</servlet-name>
    <url-pattern>/SignUpDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDaoImpl</display-name>
    <servlet-name>UserDaoImpl</servlet-name>
    <servlet-class>stu.gx.dao.impl.UserDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDaoImpl</servlet-name>
    <url-pattern>/UserDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageDaoImpl</display-name>
    <servlet-name>PageDaoImpl</servlet-name>
    <servlet-class>stu.gx.dao.impl.PageDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageDaoImpl</servlet-name>
    <url-pattern>/PageDaoImpl</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>stu.gx.AdminServlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/adminIndex.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>addRoom</display-name>
    <servlet-name>addRoom</servlet-name>
    <servlet-class>stu.gx.AdminServlet.addRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRoom</servlet-name>
    <url-pattern>/addRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exam_room</display-name>
    <servlet-name>exam_room</servlet-name>
    <servlet-class>stu.gx.bean.exam_room</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exam_room</servlet-name>
    <url-pattern>/exam_room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamRoomDao</display-name>
    <servlet-name>ExamRoomDao</servlet-name>
    <servlet-class>stu.gx.dao.ExamRoomDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamRoomDao</servlet-name>
    <url-pattern>/ExamRoomDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamRoomDaoImpl</display-name>
    <servlet-name>ExamRoomDaoImpl</servlet-name>
    <servlet-class>stu.gx.dao.impl.ExamRoomDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamRoomDaoImpl</servlet-name>
    <url-pattern>/ExamRoomDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRoom</display-name>
    <servlet-name>EditRoom</servlet-name>
    <servlet-class>stu.gx.AdminServlet.EditRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoom</servlet-name>
    <url-pattern>/EditRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delExamRoom</display-name>
    <servlet-name>delExamRoom</servlet-name>
    <servlet-class>stu.gx.AdminServlet.delExamRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delExamRoom</servlet-name>
    <url-pattern>/delExamRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateExamRoom</display-name>
    <servlet-name>updateExamRoom</servlet-name>
    <servlet-class>stu.gx.AdminServlet.updateExamRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateExamRoom</servlet-name>
    <url-pattern>/updateExamRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>arrangeExam_room</display-name>
    <servlet-name>arrangeExam_room</servlet-name>
    <servlet-class>stu.gx.AdminServlet.arrangeExam_room</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>arrangeExam_room</servlet-name>
    <url-pattern>/arrangeExam_room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>arrangeScore</display-name>
    <servlet-name>arrangeScore</servlet-name>
    <servlet-class>stu.gx.AdminServlet.arrangeScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>arrangeScore</servlet-name>
    <url-pattern>/arrangeScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageAdmin</display-name>
    <servlet-name>manageAdmin</servlet-name>
    <servlet-class>stu.gx.AdminServlet.manageAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageAdmin</servlet-name>
    <url-pattern>/manageAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delAdmin</display-name>
    <servlet-name>delAdmin</servlet-name>
    <servlet-class>stu.gx.AdminServlet.delAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delAdmin</servlet-name>
    <url-pattern>/delAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAdmin</display-name>
    <servlet-name>updateAdmin</servlet-name>
    <servlet-class>stu.gx.AdminServlet.updateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAdmin</servlet-name>
    <url-pattern>/updateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuditGo</display-name>
    <servlet-name>AuditGo</servlet-name>
    <servlet-class>stu.gx.AdminServlet.AuditGo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditGo</servlet-name>
    <url-pattern>/AuditGo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuditGoNo</display-name>
    <servlet-name>AuditGoNo</servlet-name>
    <servlet-class>stu.gx.AdminServlet.AuditGoNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditGoNo</servlet-name>
    <url-pattern>/AuditGoNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>address</display-name>
    <servlet-name>address</servlet-name>
    <servlet-class>stu.gx.bean.address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>address</servlet-name>
    <url-pattern>/address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Address</display-name>
    <servlet-name>Address</servlet-name>
    <servlet-class>stu.gx.dao.Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Address</servlet-name>
    <url-pattern>/Address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressDaoImpl</display-name>
    <servlet-name>AddressDaoImpl</servlet-name>
    <servlet-class>stu.gx.dao.impl.AddressDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressDaoImpl</servlet-name>
    <url-pattern>/AddressDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageAddress</display-name>
    <servlet-name>manageAddress</servlet-name>
    <servlet-class>stu.gx.AdminServlet.manageAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageAddress</servlet-name>
    <url-pattern>/manageAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delAddress</display-name>
    <servlet-name>delAddress</servlet-name>
    <servlet-class>stu.gx.AdminServlet.delAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delAddress</servlet-name>
    <url-pattern>/delAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAddress</display-name>
    <servlet-name>updateAddress</servlet-name>
    <servlet-class>stu.gx.AdminServlet.updateAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAddress</servlet-name>
    <url-pattern>/updateAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addRoomNext</display-name>
    <servlet-name>addRoomNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.addRoomNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRoomNext</servlet-name>
    <url-pattern>/addRoomNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>arrangeExam_roomNext</display-name>
    <servlet-name>arrangeExam_roomNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.arrangeExam_roomNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>arrangeExam_roomNext</servlet-name>
    <url-pattern>/arrangeExam_roomNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>arrangeScoreNext</display-name>
    <servlet-name>arrangeScoreNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.arrangeScoreNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>arrangeScoreNext</servlet-name>
    <url-pattern>/arrangeScoreNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuditGoNext</display-name>
    <servlet-name>AuditGoNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.AuditGoNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditGoNext</servlet-name>
    <url-pattern>/AuditGoNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuditGoNoNext</display-name>
    <servlet-name>AuditGoNoNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.AuditGoNoNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditGoNoNext</servlet-name>
    <url-pattern>/AuditGoNoNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delExamNext</display-name>
    <servlet-name>delExamNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.delExamNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delExamNext</servlet-name>
    <url-pattern>/delExamNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delExamRoomNext</display-name>
    <servlet-name>delExamRoomNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.delExamRoomNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delExamRoomNext</servlet-name>
    <url-pattern>/delExamRoomNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>launchExamNext</display-name>
    <servlet-name>launchExamNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.launchExamNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>launchExamNext</servlet-name>
    <url-pattern>/launchExamNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchExamNext</display-name>
    <servlet-name>SearchExamNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.SearchExamNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchExamNext</servlet-name>
    <url-pattern>/SearchExamNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAdminNext</display-name>
    <servlet-name>updateAdminNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.updateAdminNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAdminNext</servlet-name>
    <url-pattern>/updateAdminNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateExamNext</display-name>
    <servlet-name>updateExamNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.updateExamNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateExamNext</servlet-name>
    <url-pattern>/updateExamNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateExamRoomNext</display-name>
    <servlet-name>updateExamRoomNext</servlet-name>
    <servlet-class>stu.gx.AdminNextServlet.updateExamRoomNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateExamRoomNext</servlet-name>
    <url-pattern>/updateExamRoomNext</url-pattern>
  </servlet-mapping>
</web-app>